@import 'settings';

.App {
  max-width: 100vw;
}

.serif {
  font-family: $font-serif;
}

.sans-serif {
  font-family: $font-sans-serif;
}

.content-width {
  max-width: 82.5rem;
}

.shadow {
  box-shadow: spacing(1) spacing(1) spacing(1) rgba(97, 97, 97, 0.24);
}

.shadow-light {
  box-shadow: spacing(1) spacing(1) spacing(1) rgba(97, 97, 97, 0.171);
}

.light-weight-font {
  font-weight: 200;
}