$colors: (
  'white': #fff,
  'light-blue': #83d5ff,
  'navy': #173963,
  'light-navy': #17396357,
  'gray': #a7a7a7,
  'black': #222
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: #{$color};
  }

  .bg-#{$name} {
    background-color: #{$color};
  }
}
