@import 'settings';

.BuyBlock {
  &__container {
    flex-direction: column;

    @media($medium-up) {
      flex-direction: row;
    }
  }

  &__box {
    margin-top: .5rem;
    margin-bottom: .5rem;

    @media ($medium-up) {
      margin: 0;
    }
  }

  &__list {
    position: relative;
    font-size: 1.5rem;
    font-weight: 100;
    list-style: none;

    &--border {
      border: spacing(0.2) solid color('gray');
    }

    &--item {
      border: spacing(0.2) solid transparent;

      &:hover {
        border: spacing(0.2) solid color('light-blue');
        cursor: default;
      }
    }
  }

  &__button {
    font-size: 1.5rem;
    font-weight: 100;
    border: spacing(0.2) solid color('gray');

    &:hover {
      border-color: color('light-blue');
    }
  }
}
