@import 'settings';

.BuyBlock {
  &__container {
    flex-direction: column;

    @media($medium-up) {
      flex-direction: row;
    }
  }

  &__box {
    margin-top: .5rem;
    margin-bottom: .5rem;

    @media ($medium-up) {
      margin: 0;
    }
  }

  &__list {
    position: relative;
    font-size: 1.5rem;
    font-weight: 100;
    list-style: none;

    &--border {
      border: spacing(0.2) solid color('gray');
    }

    &--item {
      border: spacing(0.2) solid transparent;
      width: 20%;
      font-size: 1.2rem;

      &:hover, &--selected {
        border: spacing(0.2) solid color('light-navy');
        background-color: color('navy');
        color: color('white');
      }
    }
  }

  &__text {
    border: spacing(0.4) solid color('gray');
  }

  &__button {
    font-size: 1.2rem;
    font-weight: 100;

    &:hover {
      border-color: color('light-navy');
      background-color: color('navy');
      color: color('white');
    }
  }

  &__number-input {
    outline: none;
    border: none;
    border-right: spacing(0.4) solid color('gray');
    border-radius: 0;
    font-size: 1.2rem;
  }

  &__number-input {
    outline: none;
    border: none;
    height: 50%;
    border-right: spacing(0.2) solid color('gray');
    border-radius: 0;
  }

  &__label {
    border-right: spacing(0.2) solid color('gray');
    height: 50%;
  }
}
